/*body set the default values for the website*/
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*body set the default values for the website*/

/* heading */
.header{
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  /*create a fixed heading*/
  top:0;
  left:0;
  position: fixed;
  z-index: 200;
  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo{
 margin: 10px;
}
.header .logo img{
  height:50px;
}

.header ul{
  list-style: none;
}

.header li{
  display: inline-block;
  margin: 0 10px 0 20px;
}

.header nav a{
  color: seashell;
}
/* end of heading */

/*mission*/
.mission{
  z-index: 100;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content:center;

}

.mission .center h2{
  text-align: center;
  background-color: black;
  padding: 20px;
  margin:0;
}

.mission .center h4{
  text-align: center;
  background-color: black;
  padding: 20px;
  margin:0;
}
/*end of mission*/

/*tea_of_the_month*/
.tea_of_the_month{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
}


.tea_of_the_month .center h2{
  text-align: center;
  background-color: black;
  padding: 10px;
  margin:0;
}

.tea_of_the_month .center h4{
  text-align: center;
  background-color: black;
  padding: 10px;
  margin:0;
}
/*end of tea_of_the_month*/

/*Tea_images*/
.tea_category{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
  margin:0 auto;
}
.tea_category div{
  margin:10px;
}
.tea_category div h3{
  margin:10px;
}
.tea_category  img{
  height: 200px;
  width: 300px;
}
.tea_category  h3{
text-align: center;
}
/*Tea_images*/

/*locations*/
.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;

}
.locations h2{
 margin: 15px;
}
.locations .addresses{
  display:flex;
}

.locations .addresses div{
 background-color: black;
 color:white;
 width: 300px;
 margin:0 40px;
 text-align: center;
 opacity: 1;

}
.locations .addresses div h4{
   font-weight: normal;
}
/* end of locations*/

/*contacts*/
.contacts{
  height:200px;
  margin:0 auto;
  display: flex;
  flex-direction:  column;
  align-items: center;
  padding: 0;
}
/*end of contacts*/

/*copyrights*/
.copyrights h5{
  margin: 120px 0 0 20px;
  text-align: left;
}
/*end of copyrights*/
